<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('views.views_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('views.views_user')}}">User</a>
    <a href="{{ url_for('views.views_company_profile')}}">Company Profile</a>
    <a href="{{ url_for('views.views_portofolio') }}">Portfolio</a>
    <hr>

    <div class="company">
        <form method="post" class="form" enctype=multipart/form-data> <label for="name">Name</label>
            <input type="text" name="name" placeholder="{{ company_profile.name }}">
            <label for="company_type">Company Type</label>
            <input type="text" name="company_type" placeholder="{{ company_profile.company_type }}">
            <label for="address">Address</label>
            <textarea name="address" placeholder="{{ company_profile.address }}"></textarea>
            <label for="province">Province</label>
            <input type="text" name="province" placeholder="{{ company_profile.province }}">
            <label for="country">Country</label>
            <input type="text" name="country" placeholder="{{ company_profile.country }}">
            <label for="postal_code">Postal Code</label>
            <input type="text" name="postal_code" placeholder="{{ company_profile.postal_code }}">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="{{ company_profile.email }}">
            <label for="website">Website</label>
            <input type="url" name="website" placeholder="{{ company_profile.website }}">
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" placeholder="{{ company_profile.phone_number }}">
            <label for="instagram">Instagram</label>
            <input type="url" name="instagram" placeholder="{{ company_profile.instagram}}">
            <label for="facebook">Facebook</label>
            <input type="url" name="facebook" placeholder="{{ company_profile.facebook}}">
            <label for="twitter">Twitter</label>
            <input type="url" name="twitter" placeholder="{{ company_profile.twitter}}"">
            <label for="photo">Image For Header</label>
            <input type="file" name="photo">
            <label for="logo">Logo for favicon</label>
            <input type="file" name="logo">
            <label for="description">Description</label>
            <textarea name="description" placeholder="{{ company_profile.description }}"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>