<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <a href="{{ url_for('views.views_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('views.views_user')}}">User</a>
    <a href="{{ url_for('views.views_company_profile')}}">Company Profile</a>
    <a href="{{ url_for('views.views_portofolio') }}">Portfolio</a>
    <hr>
</body>
</html>