<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolios</title>
</head>

<body>
    <a href="{{ url_for('views.views_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('views.views_user')}}">User</a>
    <a href="{{ url_for('views.views_company_profile')}}">Company Profile</a>
    <a href="{{ url_for('views.views_portofolio') }}">Portfolio</a>
    <hr>

    <a href="{{ url_for('views.views_tambah_portofolio')}}">Tambah Portfolio</a>
    <table>
        <tr>
            <th>No.</th>
            <th>Portfolios Name</th>
            <th>Dev. Names</th>
            <th>Action</th>
        </tr>
        <tr>
            {% for data in data %}
            <td>{{ loop.index }}</td>
            <td>{{ data.title }}</td>
            <td>{{ data.dev_names }}</td>
            <td><a href="{{ url_for('views.views_edit_portofolio', id=data.id )}}">Edit</a>
            <td><a href="{{ url_for('views.views_hapus_portofolio', id=data.id )}}">Hapus</a></td>
            {% endfor %}
        </tr>
    </table>
</body>

</html>