<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('views.views_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('views.views_user')}}">User</a>
    <a href="{{ url_for('views.views_company_profile')}}">Company Profile</a>
    <a href="{{ url_for('views.views_portofolio') }}">Portfolio</a>
    <hr>
    <a href="{{ url_for('views.views_portofolio') }}">Back</a>

    <div class="user">
        <form method="post" class="form" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="dev_names">Developer Names</label>
            <input type="text" name="dev_names">
            <label for="photo">Photo</label>
            <input type="file" name="photo">
            <label for="category">Category</label>
            <input type="text" name="category">
            <label for="technology">Technology</label>
            <input type="text" name="technology">
            <label for="link">Link</label>
            <input type="url" name="link">
            <label for="description">Description</label>
            <textarea name="description" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>