<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Profile</title>
    <style>
        .form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <a href="{{ url_for('views.views_dashboard')}}">Dashboard</a>
    <a href="{{ url_for('views.views_user')}}">User</a>
    <a href="{{ url_for('views.views_company_profile')}}">Company Profile</a>
    <a href="{{ url_for('views.views_portofolio') }}">Portfolio</a>
    <hr>
    <div class="user">
        <form method="post" class="form">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="{{ user.name }}">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="{{ user.username }}">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="{{ user.email }}">
            <label for="password">Password</label>
            <input type="password" name="password">
            <label for="master">Skills</label>
            <input type="text" name="master" placeholder="{{ user.master }}">
            <label for="photo">Photo</label>
            <input type="file" name="photo">
            <label for="instagram">Instagram</label>
            <input type="url" name="instagram">
            <label for="facebook">Facebook</label>
            <input type="url" name="facebook">
            <label for="twitter">Twitter</label>
            <input type="url" name="twitter">
        </form>
    </div>
</body>

</html>