<h1>{{ _('Dear') }} {{ user.username }},</h2>
<p>
    {{ _('To reset your password') }}
    <a href="{{ url_for('.set_password', token=token, _external=True) }}">
        click here
    </a>
</p>
<p>{{ _('Alternatively, you can paste the following link in your browser address bar:') }}</p>
<p>{{ url_for('.set_password', token=token, _external=True) }}</p>